/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

.slogan{
  font-family: 'Franklin Gothic Medium'; 
  font-weight: 100; 
  font-size: 35px
}

h3 {
  margin-bottom: 0;
}

.categories{
  width:800px;
  height:400px;
  border-radius: 10px
}


/* Profile
------------------------------------*/
header {
  background: #214a20;
  color: #F7FFF7;
  text-align: center;
  align-items: center;
  display: inline-block;
  width: 100%;

}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
  }

.categoryContainer{
  position: relative;
}

.plantBTN{
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: #018c27;
  height: 50px;
  width: 190px;
  font-size: 20px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.plantBTN:hover{
  cursor: pointer;
  transition: 0.2s;
  background: #016b1e;
}


.mammalBTN{
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: #c26e00;
  height: 55px;
  width: 190px;
  font-size: 20px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
  padding-bottom: 10px;
  
}
.mammalBTN:hover{
  cursor: pointer;
  transition: 0.2s;
  background: #9e5a02;
}

.birdBTN{
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: #c20000;
  height: 50px;
  width: 190px;
  font-size: 20px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.birdBTN:hover{
  cursor: pointer;
  transition: 0.2s;
  background: #8c0101;
}

.fishBTN{
  display: block;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  background: #0057c2;
  height: 50px;
  width: 190px;
  font-size: 20px;
  
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fishBTN:hover{
  cursor: pointer;
  transition: 0.2s;
  background: #034494;
}


.image{
  position: absolute;
  top:45%;
  left:30%;
  
}
.imageText{
  position: absolute;
  display: inline;
  top:40%;
  left:40%;  
}

.infoList{
  position: absolute;
  display: inline;
  top:80%;
  left:28.5%;  
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: #2e2e2e; 
  margin-bottom: -125px;

}

.footerBird{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: #2e2e2e; 
  margin-bottom: -200px;
}

.footerMain{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: #2e2e2e; 
  margin-bottom: -1440px;
  padding: 10px;
}